.paper{
  -moz-box-shadow: 1px 1px 6px gray;
  -webkit-box-shadow: 1px 1px 6px gray;
  box-shadow: 1px 1px 6px gray;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
}

/* Navigation Menu */
/* Fix for Android */
body {
  -webkit-animation: bugfix infinite 1s;
}
@-webkit-keyframes bugfix{
  from { padding: 0; }
  to { padding: 0; }
}

input[type=checkbox]{
  position: absolute;
  top: -99999px;
  left: -99999px;
}

label{
  cursor: pointer;
  user-select: none;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li{
  display: inline;
}
nav li::after{
  content: ' / ';
  font-weight: bold;
  text-decoration: none;
}
nav li a{
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}
nav li.active a{
  font-weight: bold;
  color: black;
}

@media (max-width: 549px){
  body{
    overflow-x: hidden;
  }

  nav{
  }
  nav ul{
    display: block;
    height: 0;
    position: relative;
    left: -20em;
    width: 20em;
    transition: all 0.2s;
  }
  nav li{
    width: 100%;
    display: block;
  }
  nav li.active{
    display: none;
  }
  nav label{
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    background-color: #ddd;
  }
  nav label:after{
    content: '\2261  ' attr(data-page);
    position: relative;
    font-size: medium;
    margin-left: 0.75rem;
  }
  nav input:checked ~ ul{
    left: 0;
    height: auto;
  }
  nav input:checked ~ ul > li{
    width: 100%;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  nav li a{
    font-size: medium;
  }
  nav label{
    position: absolute;
    left: 0;
    display: none;
  }
}

.logo{
  background: linear-gradient(135deg,
    #dd4800 0%,
    #dd4800 55%,
    #b33a00 55%,
    #b33a00 60%,
    #878787 60%,
    #878787 68%,
    #b33a00 68%,
    #b33a00 73%,
    #dd4800 73%,
    #dd4800 100%);
  padding-left: 2ch;
  margin-top: 1rem;
  border-radius: 5px;
  color: white;
  font-style: italic;
}

.logo h3{
  border-bottom: solid 3px #878787;
  width: 98%;
  text-shadow: 0px 0px 5px black;
}

.center{
  text-align: center;
}

.footer{
  background-color: #555;
  color: #ddd;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.footer::after{
  content: '© 2015-2016 ND Compressor Services';
  font-size: x-small;
  right: 0;
  bottom: 0;
}

.header > h4{
  margin-bottom: 0;
}

.header{
  margin-top: 1.5rem;
  padding-left: 2ch;
  background: linear-gradient(to right, white, gray);
}
