.paper{
  -moz-box-shadow: 1px 1px 6px gray;
  -webkit-box-shadow: 1px 1px 6px gray;
  box-shadow: 1px 1px 6px gray;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.paper.clickBox:hover{
  -moz-box-shadow: 2px 2px 16px gray;
  -webkit-box-shadow: 2px 2px 16px gray;
  box-shadow: 2px 2px 16px gray;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li{
  display: inline;
}
nav li::after{
  content: ' / ';
  font-weight: bold;
  text-decoration: none;
}
nav li a{
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  font-size: small;
}
nav li a.active{
  font-weight: bold;
  color: black;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  nav li a{
    font-size: medium;
  }
}

.logo{
  background: linear-gradient(135deg,
    #dd4800 0%,
    #dd4800 55%,
    #b33a00 55%,
    #b33a00 60%,
    #878787 60%,
    #878787 68%,
    #b33a00 68%,
    #b33a00 73%,
    #dd4800 73%,
    #dd4800 100%);
  padding-left: 2ch;
  margin-top: 1rem;
  border-radius: 5px;
  color: white;
  font-style: italic;
}

.logo h3{
  border-bottom: solid 3px #878787;
  width: 98%;
  text-shadow: 0px 0px 5px black;
}

.center{
  text-align: center;
}

.slider{
  height: 300px;
  border-radius: 5px;
  margin-top: 1rem;
}

.contact{
  background-color: #555;
  color: #ddd;
  padding: 5px;
  border-radius: 5px;
}

.clickBox{
  min-height: 200px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ddd;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.clickBox a{
  text-decoration: none;
  display: inline-block;
  color: black;
}

.clickBox a:hover{
  color: #0FA0CE;
}

.clickBox a:after{
  display: block;
  content: '';
  border-bottom: solid 2px #0FA0CE;
  -webkit-transform: scaleX(0.000001);
  -ms-transform: scaleX(0.000001);
  transform: scaleX(0.000001);
  -webkit-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}
.clickBox a:hover:after{
  transform: scaleX(1);
}

.highlights{
  font-weight: bold;
  margin-left: 30%;
  list-style-type: none;
}

.highlights ul{
  margin-top: 0;
}

.contact::after{
  content: '© 2015-2016 ND Compressor Services';
  font-size: x-small;
  right: 0;
  bottom: 0;
}
